/* Apply styles to the home button */
.home-button {
    position: fixed;
    top: 52px; /* Adjust the top position as needed */
    left: 12px; /* Adjust the left position as needed */
    padding: 10px 20px;
    background-color: #ECEFF4; /* Button background color */
    color: #2E3440; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

* {
    font-family: Consolas;
}
.home-button:hover {
    background-color: #E5E9F0; /* Button background color on hover */
    transform: scale(1.05, 1);
}

body {
    background-color: #4C566A;
    justify-content: center;
   
}


.logout-button label {
    position: absolute;
    top: 8%;
    right: 3.90%;
    color: #2E3440;
    cursor: pointer;

}
.logout-btn {
    margin-right: 2%;
}

.logout-btn:hover {
    background: #E5E9F0;
    transform: scale(1.05, 1);
}




.logout-btn {
    width: 7%;
    position: absolute;
    height: 30px;
    right: 0%;
    top: 7.5%;
    background: #ECEFF4; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

/* Apply styles to the scrollable bar */

.scrollable-container {
    max-width: 1200px;
    overflow: auto;
    border: 1px solid #ddd;
    margin: 0 auto;

}
.scrollable-bar {
   white-space: nowrap;
   font-size: 0;
}

.scrollable-bar::-webkit-scrollbar {
    width: 0;
}

.scrollable-bar .scrollable-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
    font-size: 16px;
}
