/* Apply styles to the home button */
.home-button {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.box{
    max-height:50px;
    border: 2px solid red;
    width: 100%;
    overflow: scroll;  
}
/* Apply styles to the scrollable bar */
.scrollable-bar {
    width: 3000px;
    overflow: hidden;
    max-height:100px;
    -webkit-box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.48);
    -moz-box-shadow:    0px -1px 12px rgba(0, 0, 0, 0.48);
    box-shadow:         0px -1px 12px rgba(0, 0, 0, 0.48);
    padding-bottom:45px;
    padding-top:5px;
    background: grey;
    border-top:1px solid #767676;
    font-family:Verdana, Tahoma, Sans-Serif;
    z-index: 100;
}

/* Style for each item inside the scrollable bar */
.scrollable-item {
    display: inline-block;
    margin-left: 10px; /* Adjust margin to separate items */
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
