<!DOCTYPE html>
<html>
<head>
    <title>Receipt Uploader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-user.css') }}">
</head>
<body>
    <a href="/" class="home-button">Home</a>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    <br>
    <br>
    <div class="scrollable-container">
        <div class="scrollable-bar">
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <div class="scrollable-item">box1</div>
            <!-- Add your other scrollable items here -->
        </div>
    </div>

    <h1>Receipt Uploader</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg" required>
        <button type="submit">Upload Receipt</button>
    </form>
    <button onclick="item()">Add Item</button>

    <script src="{{ url_for('static', filename='js/category-bar.js') }}"></script>
</body>
</html>
