<!DOCTYPE html>
<html>
<head>
    <title>Receipt Uploader</title>
    <h1>Receipt Uploader</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-user.css') }}">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <a href="/" class="home-button">Home</a>
    <div class="logout-button">
        <a href="/login" class="logout-btn" id="logout"></a>
        <label for="logout">Logout</label>
    </div>
    <br>
    <br>
    <div class="scrollable-container">
        <div class="scrollable-bar" id="scrollable-bar">
            <!-- Add your other scrollable items here -->
        </div>
    </div>


    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-box">
            <div class="choose-box">
                <input type="file" name="file" accept=".jpg" required>
            </div>
            <div class="upload-button">
                <button class="upload-btn" type="submit" id="submit"></button>
                <label for="submit">Upload Receipt</label>
            </div>
        </div>
    </form>
</body>
</html>
