<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyles.css') }}">    
    <title>Sign Up Page</title>
</head>
<body>
    <form method="POST" action="/signup">
        <div class="signup-box">
            <div class="signup-header">
                <header>Sign Up</header>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Username" name="username" id="username" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" name="password" id="password" autocomplete="off" required>
            </div>
            <div class="input-submit">
                <button class="submit-btn" id="submit"></button>
                <label for="submit">Sign up</label>
            </div>
            <div class="sign-up-link">
                <p>Have an account? <a href="/login">Sign In</a></p>
            </div>
        </div>
    </form>
</body>
</html>
